In [8]:
import pandas as pd
from pymongo import MongoClient

# Sample DataFrame
data = {
    'MovieTitle': ['Batman Begins', 'The Dark Knight', 'Inception'],
    'Year': [2005, 2008, 2010],
    'Genre': ['Action', 'Action', 'Sci-Fi'],
    'Director': ['Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan']
}

df = pd.DataFrame(data)

# MongoDB connection
client = MongoClient("mongodb://mongodb:27017/")
db = client["crocodile_db"]
collection = db["input_data"]
trace_collection = db["processing_trace"]

# Dataset and table names for tracing
dataset_name = "movie_dataset"
table_name = "movies_table"

# Onboard data
for index, row in df.iterrows():
    document = {
        "dataset_name": dataset_name,
        "table_name": table_name,
        "row_id": index,
        "data": row.to_dict(),
        "classified_columns": {
            "NE": ["MovieTitle"],  # Specify columns to be linked
            "LIT": ["Year", "Genre"]  # Specify literal columns
        },
        "context_columns": ["MovieTitle", "Year", "Genre", "Director"],  # Specify context columns
        "status": "TODO"
    }
    collection.insert_one(document)

# Initialize the trace collection
trace_collection.insert_one({
    "dataset_name": dataset_name,
    "table_name": table_name,
    "total_rows": len(df),
    "processed_rows": 0,
    "status": "PENDING"  # Initial status before processing
})

print(f"Data onboarded successfully for dataset '{dataset_name}' and table '{table_name}'.")

Data onboarded successfully for dataset 'movie_dataset' and table 'movies_table'.

In [5]:
# Load the CSV file into a DataFrame
file_path = './film_input_no_QIDs.csv'
df = pd.read_csv(file_path)
df.columns

Index(['title', 'director', 'release year', 'domestic distributor',
       'length in min', 'worldwide gross'],
      dtype='object')

In [2]:
import pandas as pd
from pymongo import MongoClient

# Load the CSV file into a DataFrame
file_path = './film_input_no_QIDs.csv'
df = pd.read_csv(file_path)

# MongoDB connection
client = MongoClient("mongodb://mongodb:27017/")
db = client["crocodile_db"]
collection = db["input_data"]
trace_collection = db["processing_trace"]

# Dataset and table names for tracing
dataset_name = "imdb_dataset"
table_name = "film_input_no_QIDs10"

# Onboard data
for index, row in df.iterrows():
    document = {
        "dataset_name": dataset_name,
        "table_name": table_name,
        "row_id": index,
        "data": row.to_dict(),
        "classified_columns": {
            "NE": ["title", "director", "domestic distributor"],  # Assuming Series_Title is the column to be linked
            "LIT": ["release year", "length in min", "worldwide gross"]  # Assuming these are literal columns
        },
        "context_columns": ['title', 'director', 'release year', 'domestic distributor', 'length in min', 'worldwide gross'],  # Context columns
        "status": "TODO"
    }
    collection.insert_one(document)

    #if index == 9:
    #    break

# Initialize the trace collection
trace_collection.insert_one({
    "dataset_name": dataset_name,
    "table_name": table_name,
    "total_rows": len(df),
    "processed_rows": 0,
    "status": "PENDING"  # Initial status before processing
})

print(f"Data onboarded successfully for dataset '{dataset_name}' and table '{table_name}'.")

Data onboarded successfully for dataset 'imdb_dataset' and table 'film_input_no_QIDs10'.

In [2]:
import pandas as pd
from pymongo import MongoClient

# Load the CSV file into a DataFrame
file_path = './imdb_top_1000.csv'
df = pd.read_csv(file_path)

# MongoDB connection
client = MongoClient("mongodb://mongodb:27017/")
db = client["crocodile_db"]
collection = db["input_data"]
trace_collection = db["processing_trace"]

# Dataset and table names for tracing
dataset_name = "imdb_dataset"
table_name = "top_1000_movies"

# Onboard data
for index, row in df.iterrows():
    document = {
        "dataset_name": dataset_name,
        "table_name": table_name,
        "row_id": index,
        "data": row.to_dict(),
        "classified_columns": {
            "NE": ["Series_Title"],  # Assuming Series_Title is the column to be linked
            "LIT": ["Released_Year", "Genre"]  # Assuming these are literal columns
        },
        "context_columns": ["Series_Title", "Released_Year", "Genre", "Director"],  # Context columns
        "status": "TODO"
    }
    collection.insert_one(document)

    if index == 9:
        break

# Initialize the trace collection
trace_collection.insert_one({
    "dataset_name": dataset_name,
    "table_name": table_name,
    "total_rows": len(df),
    "processed_rows": 0,
    "status": "PENDING"  # Initial status before processing
})

print(f"Data onboarded successfully for dataset '{dataset_name}' and table '{table_name}'.")

Data onboarded successfully for dataset 'imdb_dataset' and table 'top_1000_movies'.

In [3]:
from crocodile import Crocodile
import os

# Create an instance of the Crocodile class
crocodile_instance = Crocodile(
    mongo_uri="mongodb://mongodb:27017/",
    db_name="crocodile_db",
    collection_name="input_data",
    trace_collection_name="processing_trace",
    max_candidates=3,
    entity_retrieval_endpoint=os.environ["ENTITY_RETRIEVAL_ENDPOINT"],  # Access the entity retrieval endpoint directly from environment variables
    entity_bow_endpoint=os.environ["ENTITY_BOW_ENDPOINT"],  # Access the entity BoW endpoint directly from environment variables
    entity_retrieval_token=os.environ["ENTITY_RETRIEVAL_TOKEN"]  # Access the entity retrieval token directly from environment variables
)

# Run the entity linking process
crocodile_instance.run(dataset_name=dataset_name, table_name=table_name)

print("Entity linking process completed.")

Entity linking process completed.

In [1]:
! pip install Levenshtein

Collecting Levenshtein
  Downloading levenshtein-0.26.0-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (3.2 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0 (from Levenshtein)
  Downloading rapidfuzz-3.10.0-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (11 kB)
Downloading levenshtein-0.26.0-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (153 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.9/153.9 kB 2.4 MB/s eta 0:00:00 0:00:01
Downloading rapidfuzz-3.10.0-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 5.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: rapidfuzz, Levenshtein
Successfully installed Levenshtein-0.26.0 rapidfuzz-3.10.0

In [2]:
from crocodile import Crocodile
import os
# Create an instance of the Crocodile class
crocodile_instance = Crocodile(
    mongo_uri="mongodb://mongodb:27017/",
    db_name="crocodile_db",
    collection_name="input_data",
    trace_collection_name="processing_trace",
    max_candidates=3,
    entity_retrieval_endpoint=os.environ["ENTITY_RETRIEVAL_ENDPOINT"],  # Access the entity retrieval endpoint directly from environment variables
    entity_bow_endpoint=os.environ["ENTITY_BOW_ENDPOINT"],  # Access the entity BoW endpoint directly from environment variables
    entity_retrieval_token=os.environ["ENTITY_RETRIEVAL_TOKEN"
    ]  # Access the entity retrieval token directly from environment variables
)
#crocodile_instance.get_bow_from_api(["Q90"])
candidates = crocodile_instance.fetch_candidates("paris", "paris france")

In [ ]:
crocodile_instance.get_bow_from_api(["Q30", "Q40"])

In [5]:
row_text =  "paris france, Canadian"
description = candidates[0]["description"]
candidate_tokens = set(crocodile_instance.tokenize_text(description))
row_tokens = set(crocodile_instance.tokenize_text(row_text))
crocodile_instance.calculate_token_overlap(candidate_tokens, row_tokens)

0.2

In [9]:
candidate_tokens, row_tokens

({'canadian', 'series', 'television'}, {'canadian', 'france', 'paris'})

In [ ]:
candidates

In [18]:
import requests
import base64
import gzip
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from collections import Counter
from nltk.tokenize import word_tokenize
import nltk
import pickle

# Download NLTK resources if not already downloaded
nltk.download('punkt', quiet=True)
nltk.download('stopwords', quiet=True)
from nltk.corpus import stopwords

# Global stopwords to avoid reinitializing repeatedly
stop_words = set(stopwords.words('english'))

# Function to get BoW vectors from the API
def get_bow_from_api(qids):
    url = 'https://lamapi.hel.sintef.cloud/entity/bow?token=lamapi_demo_2023'
    response = requests.post(
        url,
        headers={'accept': 'application/json', 'Content-Type': 'application/json'},
        json={"json": qids}
    )
    
    if response.status_code != 200:
        print(f"Error fetching BoW: {response.status_code}")
        return None
    
    bow_data = response.json()
    
    # Decode and decompress the encoded BoW vectors
    decoded_vectors = {}
    for qid, encoded_data in bow_data.items():
        compressed_bytes = base64.b64decode(encoded_data)
        decompressed_vector = pickle.loads(gzip.decompress(compressed_bytes))
        bow_vector = decompressed_vector
        decoded_vectors[qid] = bow_vector
    
    return decoded_vectors

# Function to tokenize text and remove stopwords
def tokenize_text(text):
    tokens = word_tokenize(text.lower())
    return [t for t in tokens if t.isalpha() and t not in stop_words]

# Function to build a row vector (BoW)
def build_row_vector(row_text, shared_vocab):
    row_tokens = tokenize_text(row_text)
    row_bow = Counter(row_tokens)
    
    # Create a vector for the row based on the shared vocabulary
    row_bow_vector = np.array([row_bow.get(word, 0) for word in shared_vocab])
    
    return row_bow_vector

# Function to compute cosine similarity between row and candidate vectors
def compute_similarity(row_bow_vector, candidate_vectors, shared_vocab):
    similarities = {}
    for qid, candidate_bow in candidate_vectors.items():
        candidate_bow_vector = np.array([candidate_bow.get(word, 0) for word in shared_vocab])
        similarity = cosine_similarity([row_bow_vector], [candidate_bow_vector])[0][0]
        similarities[qid] = similarity
    return similarities

# Test case: simulate a row of data (e.g., a table row)
row = {
    'city': 'Paris',
    'country': 'France',
    'continent': 'Europe',
    'population': '2140526',
    'area_km2': '105.4',
    'language': 'French'
}

row = {
    'Series_Title': 'Pulp Fiction',
    'Released_Year': 1994,
    'Runtime (min)': 154,
    'Genre': 'Crime, Drama',
    'IMDB_Rating': 8.9,
    'Overview': 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.',
    'Meta_score': 94.0,
    'Director': 'Quentin Tarantino',
    'Star1': 'John Travolta',
    'No_of_Votes': 1826188,
    'Gross': '107,928,762'
}

# Combine the row data into a single text string for BoW processing
row_text = ' '.join([str(row[index]) for index in row if index != 'Overview'])

# Step 1: Retrieve BoW vectors from API for some QIDs
qids = ["Q30", "Q166262", "Q90", "Q104123", "Q45", "Q100", "Q5"]  # Example QIDs
candidate_vectors = get_bow_from_api(qids)

if candidate_vectors is None:
    print("No candidate vectors retrieved from the API.")
else:
    # Step 2: Ensure consistent shared vocabulary
    shared_vocab = set()
    for vector in candidate_vectors.values():
        shared_vocab.update(vector.keys())  # Collect vocabulary from candidate BoWs
    row_tokens = tokenize_text(row_text)
    shared_vocab.update(row_tokens)
    shared_vocab = list(shared_vocab)

    # Step 3: Build the row vector (BoW)
    row_bow_vector = build_row_vector(row_text, shared_vocab)

    # Step 4: Compute similarity between row and candidate vectors
    similarity_scores = compute_similarity(row_bow_vector, candidate_vectors, shared_vocab)

    # Step 5: Output the similarity scores
    print("\nSimilarity Scores between row and candidates:")
    for qid, score in similarity_scores.items():
        print(f"QID: {qid}, Similarity: {score:.4f}")

Similarity Scores between row and candidates:
QID: Q100, Similarity: 0.0037
QID: Q104123, Similarity: 0.1079
QID: Q166262, Similarity: 0.0697
QID: Q30, Similarity: 0.0186
QID: Q45, Similarity: 0.0000
QID: Q5, Similarity: 0.0000
QID: Q90, Similarity: 0.0000

In [ ]:
shared_vocab

In [15]:
row_tokens

['pulp',
 'fiction',
 'crime',
 'drama',
 'lives',
 'two',
 'mob',
 'hitmen',
 'boxer',
 'gangster',
 'wife',
 'pair',
 'diner',
 'bandits',
 'intertwine',
 'four',
 'tales',
 'violence',
 'redemption',
 'quentin',
 'tarantino',
 'john',
 'travolta']

In [ ]:
shared_vocab

In [4]:
import pandas as pd
from pymongo import MongoClient

# Load the CSV file into a DataFrame
file_path = './imdb_top_1000.csv'
df = pd.read_csv(file_path)

# MongoDB connection
client = MongoClient("mongodb://mongodb:27017/")
db = client["crocodile_db"]
collection = db["input_data"]
trace_collection = db["processing_trace"]
results = collection.find({})
outcome = []
for result in results:
    outcome.append((result["row_id"], result["el_results"]["title"][0]["id"]))

In [5]:
df = pd.read_csv("film_with_QIDs.csv") 
df

,title,Title_QID,director,release year,domestic distributor,length in min,worldwide gross
0,Jurassic World,Q3512046,Colin Trevorrow,2015,Universal Pictures,124,1670400637
1,Superman Returns,Q328695,Bryan Singer,2006,Warner Bros.,154,391081192
2,Batman Begins,Q166262,Christopher Nolan,2005,Warner Bros.,140,371853783
3,Avatar,Q24871,James Cameron,2009,20th Century Fox,162,2744336793
4,Titanic,Q44578,James Cameron,1997,Paramount Pictures,194,2208208395
5,The Avengers,Q182218,Joss Whedon,2012,Disney,143,1518815515
6,Harry Potter and the Deathly Hallows Part 2,Q232009,David Yates,2011,Warner Bros.,130,1341511219
7,Furious 7,Q14650496,James Wan,2015,Universal Pictures,137,1515047671
8,Frozen,Q246283,Chris Buck and Jennifer Lee,2013,Walt Disney Pictures,102,1281983879
9,Iron Man 3,Q209538,Shane Black,2013,Disney,130,1215439994
10,Transformers: Dark of the Moon,Q232774,Michael Bay,2011,Paramount Pictures,157,1123746996
11,The Lord of the Rings: The Return of the King,Q131074,Peter Jackson,2003,New Line Cinema,201,1146030912
12,Pirates of the Caribbean: Dead Man's Chest,Q161087,Gore Verbinski,2006,Walt Disney Pictures,150,1065659812
13,The Dark Knight,Q163872,Christopher Nolan,2008,Warner Bros.,152,1004558444
14,Transformers,Q171453,Michael Bay,2007,Paramount Pictures,144,709709780
15,Pirates of the Caribbean: At World's End,Q54274,Gore Verbinski,2007,Walt Disney Pictures,169,963420425
16,Skyfall,Q4941,Sam Mendes,2012,Columbia Pictures,143,1108561013
17,The Hobbit: An Unexpected Journey,Q80379,Peter Jackson,2012,Warner Bros.,169,1021103568
18,The Lion King,Q27044293,Jon Favreau,2019,Disney,118,1656916569
19,The Incredibles,Q213326,Brad Bird,2004,Disney,115,633019734
20,The Hunger Games,Q212965,Gary Ross,2012,Lionsgate,142,694394724
21,Spider-Man,Q484442,Sam Raimi,2002,Sony Pictures,121,821708551
22,The Matrix Reloaded,Q189600,Lana Wachowski and Lilly Wachowski,2003,Warner Bros.,138,739398464
23,The Twilight Saga: Eclipse,Q217010,David Slade,2010,Summit Entertainment,124,698491347
24,Deadpool,Q19347291,Tim Miller,2016,20th Century Fox,108,783112979
25,When Father Was Away on Business,Q433000,Emir Kusturica,1985,Centar film,136,41184
26,Fall,Q113470320,Scott Mann,2022,BuzzFeed,107,13700000
27,Army of Darkness,Q471992,Sam Raimi,1992,Raimi Pictures,81,11502976
28,Beyond the Edge,Q28667926,Aleksandr Boguslavskiy,2017,KD Studios,102,2040470
29,Venom: Let There Be Carnage,Q60498064,Andy Serkis,2021,Columbia Pictures,120,13076089

In [6]:
df2 = pd.DataFrame(outcome)
sum(df2[1] == df["Title_QID"]) / len(df2)

0.9666666666666667

In [2]:
import pandas as pd
from pymongo import MongoClient

# Load the CSV file into a DataFrame
file_path = './0DO2KMKV.csv'
df = pd.read_csv(file_path)

# MongoDB connection
client = MongoClient("mongodb://mongodb:27017/")
db = client["crocodile_db"]
collection = db["input_data"]
trace_collection = db["processing_trace"]

# Dataset and table names for tracing
dataset_name = "test"
table_name = "0DO2KMKV"

# Onboard data
for index, row in df.iterrows():
    document = {
        "dataset_name": dataset_name,
        "table_name": table_name,
        "row_id": index,
        "data": row.to_dict(),
        "classified_columns": {
            "NE": ["col0"],  # Assuming Series_Title is the column to be linked
            "LIT": ["col1"]  # Assuming these are literal columns
        },
        "context_columns": list(df.columns),  # Context columns
        "status": "TODO"
    }
    collection.insert_one(document)

    #if index == 9:
    #    break

# Initialize the trace collection
trace_collection.insert_one({
    "dataset_name": dataset_name,
    "table_name": table_name,
    "total_rows": len(df),
    "processed_rows": 0,
    "status": "PENDING"  # Initial status before processing
})

print(f"Data onboarded successfully for dataset '{dataset_name}' and table '{table_name}'.")

Data onboarded successfully for dataset 'test' and table '0DO2KMKV'.

In [ ]:
df

In [3]:
from crocodile import Crocodile
import os

# Create an instance of the Crocodile class
crocodile_instance = Crocodile(
    mongo_uri="mongodb://mongodb:27017/",
    db_name="crocodile_db",
    collection_name="input_data",
    trace_collection_name="processing_trace",
    max_candidates=3,
    entity_retrieval_endpoint=os.environ["ENTITY_RETRIEVAL_ENDPOINT"],  # Access the entity retrieval endpoint directly from environment variables
    entity_bow_endpoint=os.environ["ENTITY_BOW_ENDPOINT"],  # Access the entity BoW endpoint directly from environment variables
    entity_retrieval_token=os.environ["ENTITY_RETRIEVAL_TOKEN"]  # Access the entity retrieval token directly from environment variables
)

# Run the entity linking process
crocodile_instance.run(dataset_name=dataset_name, table_name=table_name)

print("Entity linking process completed.")

Entity linking process completed.

In [1]:
import pandas as pd
from pymongo import MongoClient
from crocodile import Crocodile
import os
import json

# Load the CSV file into a DataFrame
file_path = './tables/VGUZX5R3.csv'
df = pd.read_csv(file_path)

# MongoDB connection
client = MongoClient("mongodb://mongodb:27017/")
db = client["crocodile_db"]
collection = db["input_data"]
trace_collection = db["processing_trace"]

# Dataset and table names for tracing
dataset_name = "test"
table_name = "VGUZX5R3"

# Load the correct QIDs for the table
with open('./tables/correct_qids_VGUZX5R3.json', 'r') as file:
    correct_qids = json.load(file)


# Onboard data
for index, row in df.iterrows():
    document = {
        "dataset_name": dataset_name,
        "table_name": table_name,
        "row_id": index,
        "data": row.to_dict(),
        "classified_columns": {
            "NE": {
                "0": "LOCATION",
                "1": "LOCATION",
                "3": "LOCATION"
            },
            "LIT": ["2", "4", "5"]
        },
        "context_columns": [str(i) for i in range(len(list(df.columns)))],  # Context columns
        "correct_qids": correct_qids,
        "status": "TODO"
    }
    collection.insert_one(document)


# Initialize the trace collection
trace_collection.insert_one({
    "dataset_name": dataset_name,
    "table_name": table_name,
    "total_rows": len(df),
    "processed_rows": 0,
    "status": "PENDING"  # Initial status before processing
})

print(f"Data onboarded successfully for dataset '{dataset_name}' and table '{table_name}'.")


# Create an instance of the Crocodile class
crocodile_instance = Crocodile(
    mongo_uri="mongodb://mongodb:27017/",
    db_name="crocodile_db",
    collection_name="input_data",
    trace_collection_name="processing_trace",
    max_candidates=3,
    entity_retrieval_endpoint=os.environ["ENTITY_RETRIEVAL_ENDPOINT"],  # Access the entity retrieval endpoint directly from environment variables
    entity_bow_endpoint=os.environ["ENTITY_BOW_ENDPOINT"],  # Access the entity BoW endpoint directly from environment variables
    entity_retrieval_token=os.environ["ENTITY_RETRIEVAL_TOKEN"]  # Access the entity retrieval token directly from environment variables
)

# Run the entity linking process
crocodile_instance.run(dataset_name=dataset_name, table_name=table_name)

print("Entity linking process completed.")

Data onboarded successfully for dataset 'test' and table 'VGUZX5R3'.
{'col0': 'Equatorial Guinea', 'col1': 'Malabooo', 'col2': '187,302', 'col3': 'Bata', 'col4': '250,770', 'col5': 1.34}{'col0': 'Burundii', 'col1': 'Gitegaa', 'col2': '22,989', 'col3': 'Bujumbura', 'col4': '497,166', 'col5': 21.6}{'col0': 'Australiaa', 'col1': 'Canberrraa', 'col2': '390,706', 'col3': 'Sydney', 'col4': '4,921,000', 'col5': 12.6}{'col0': 'Bollivia', 'col1': 'Sucreee', 'col2': '259,388', 'col3': 'Santa Cruz de la Sierra', 'col4': '1,453,549', 'col5': 7.1}  {'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'} {'col0': 'Benin', 'col1': 'Porto-Novooo', 'col2': '223,500', 'col3': 'Cotonou', 'col4': '761,100', 'col5': 3.4} {'col0': 'Indiaa', 'col1': 'NNew Delhi', 'col2': '249,998', 'col3': 'Mumbai', 'col4': '12,442,373', 'col5': 49.77}{'col0': 'Belize', 'col1': 'Belmopannn', 'col2': '16,400', 'col3': 'Belize City', 'col4': '70,000', 'col5': 4.27}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'col0': 'Canada', 'col1': 'Ottawaa', 'col2': '812,129', 'col3': 'Toronto', 'col4': '2,503,281', 'col5': 3.08} {'col0': 'Braziil', 'col1': 'Brasíliaa', 'col2': '2,557,158', 'col3': 'São Paulo', 'col4': '11,150,249', 'col5': 4.55}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}

 {'col0': 'China', 'col1': 'Beijingg', 'col2': '22,000,000', 'col3': 'Shanghai', 'col4': '34,000,000', 'col5': 1.55}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'col0': "Côte d'Ivoire", 'col1': 'Yamoussoukroo', 'col2': '200,659', 'col3': 'Abidjan', 'col4': '4,348,000', 'col5': 21.7}


{'col0': 'Cameroon', 'col1': 'Yaoundééé', 'col2': '1,430,000', 'col3': 'Douala', 'col4': '2,000,000 +', 'col5': 1.4}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'col0': 'Moroccoo', 'col1': 'Rabatt', 'col2': '627,000', 'col3': 'Casablanca', 'col4': '4,150,000', 'col5': 6.62}{'col0': 'Myyanmar', 'col1': 'NNaypyidaw', 'col2': '925,000', 'col3': 'Yangon', 'col4': '4,346,000', 'col5': 4.7}{'col0': 'Liechtensteinn', 'col1': 'Vaduuzz', 'col2': '5,109', 'col3': 'Schaan', 'col4': '5,806', 'col5': 1.14}{'col0': 'Federated States of Micronesiaa', 'col1': 'Palikirr', 'col2': '5,000', 'col3': 'Weno', 'col4': '13,000', 'col5': 2.6}{'col0': 'Kazakhstan', 'col1': 'Nur-Sultann', 'col2': '743,014', 'col3': 'Almaty', 'col4': '1,450,095', 'col5': 1.95}{'col0': 'Malta', 'col1': 'Vallletta', 'col2': '6,000', 'col3': 'Birkirkara', 'col4': '21,000', 'col5': 3.5} {'col0': 'New Zealandd', 'col1': 'Wellingtonn', 'col2': '418,500', 'col3': 'Auckland', 'col4': '1,570,100', 'col5': 3.75}{'col0': 'Nigeriia', 'col1': 'Abuujaa', 'col2': '778,567', 'col3': 'Lagos', 'col4': '7,937,932', 'col5': 10.2}{'col0': 'Pakistann', 'col1': 'Islamabadd', 'col2': '1,740,000', 'col3': 'Karachi', 'col4': '24,300,000', 'col5': 13.97}   {'col0': 'PPalau', 'col1': 'Ngerulmud', 'col2': '271', 'col3': 'Koror', 'col4': '11,200', 'col5': 41.32}{'col0': 'San Marino', 'col1': 'San Marinooo', 'col2': '4,211', 'col3': 'Serravalle', 'col4': '10,601', 'col5': 2.52} {'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}  {'col0': 'Philippiness', 'col1': 'Manilaa', 'col2': '1,780,148', 'col3': 'Quezon City', 'col4': '2,936,116', 'col5': 1.67}   {'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'} {'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}
{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}






{'col0': 'South Africa', 'col1': 'Pretoriaa', 'col2': '2,345,908', 'col3': 'Johannesburg', 'col4': '3,888,180', 'col5': 1.66}{'col0': 'Trinidad and Tobagoo', 'col1': 'Port of Spainn', 'col2': '49,000', 'col3': 'Chaguanas', 'col4': '67,400', 'col5': 1.37}{'col0': 'Switzerlandd', 'col1': 'Bernnn', 'col2': '138,041', 'col3': 'Zürich', 'col4': '397,698', 'col5': 2.88}{'col0': 'SSri Lanka', 'col1': 'Sri Jayawardenepura Kottee', 'col2': '115,826', 'col3': 'Colombo', 'col4': '642,163', 'col5': 5.54}{'col0': 'Tanzaniaa', 'col1': 'Dodomaaa', 'col2': '324,347', 'col3': 'Dar es Salaam', 'col4': '2,497,940', 'col5': 7.7}{'col0': 'United Arab Emirates', 'col1': 'Abu Dhhhabi', 'col2': '896,751', 'col3': 'Dubai', 'col4': '2,262,000', 'col5': 2.52}{'col0': 'Sudaan', 'col1': 'Khartoummm', 'col2': '2,207,794', 'col3': 'Omdurman', 'col4': '2,395,159', 'col5': 1.08}{'col0': 'Vietnamm', 'col1': 'Hanoii', 'col2': '6,500,000', 'col3': 'Ho Chi Minh City', 'col4': '7,123,340', 'col5': 1.1}{'col0': 'United States', 'col1': 'Washington, D.C..', 'col2': '672,228', 'col3': 'New York City', 'col4': '8,550,405', 'col5': 12.72} {'col0': 'Turkey', 'col1': 'Ankaraa', 'col2': '5,150,072', 'col3': 'Istanbul', 'col4': '14,377,018', 'col5': 3.4}         {'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}

{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}

{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}



{'0': 'LOCATION', '1': 'LOCATION', '3': 'LOCATION'}

Entity linking process completed.

In [12]:
df.columns

Index(['player', 'position', 'country', 'birthplace', 'played', 'teams ↓',
       'notes'],
      dtype='object')

In [3]:
import pandas as pd
import os
import json

# Load the CSV file into a DataFrame
file_path = './tables/VGUZX5R3.csv'
df = pd.read_csv(file_path)

# Dataset and table names for tracing
dataset_name = "test"
table_name = "VGUZX5R3"

# Load the correct QIDs for the table
with open('./tables/correct_qids_VGUZX5R3.json', 'r') as file:
    correct_qids = json.load(file)

# Onboard data
for index, row in df.iterrows():
    document = {
        "dataset_name": dataset_name,
        "table_name": table_name,
        "row_id": index,
        "data": row.to_dict(),
        "classified_columns": {
            "NE": {
                "col0": "LOCATION",
                "col1": "LOCATION",
                "col3": "LOCATION"
            },
            "LIT": ["col2", "col4", "col5"]
        },
        "context_columns": [i for i in range(len(list(df.columns)))],  # Context columns
        "correct_qids": correct_qids,
        "status": "TODO"
    }

In [4]:
document

{'dataset_name': 'test',
 'table_name': 'VGUZX5R3',
 'row_id': 33,
 'data': {'col0': 'Vietnamm',
  'col1': 'Hanoii',
  'col2': '6,500,000',
  'col3': 'Ho Chi Minh City',
  'col4': '7,123,340',
  'col5': 1.1},
 'classified_columns': {'NE': {'col0': 'LOCATION',
   'col1': 'LOCATION',
   'col3': 'LOCATION'},
  'LIT': ['col2', 'col4', 'col5']},
 'context_columns': [0, 1, 2, 3, 4, 5],
 'correct_qids': {'0-0': 'Q408',
  '0-1': 'Q3114',
  '0-3': 'Q3130',
  '1-0': 'Q242',
  '1-1': 'Q3043',
  '1-3': 'Q108223',
  '2-0': 'Q962',
  '2-1': 'Q3799',
  '2-3': 'Q43595',
  '3-0': 'Q750',
  '3-1': 'Q2907',
  '3-3': 'Q170688',
  '4-0': 'Q155',
  '4-1': 'Q119158',
  '4-3': 'Q174',
  '5-0': 'Q967',
  '5-1': 'Q167551',
  '5-3': 'Q3854',
  '6-0': 'Q1009',
  '6-1': 'Q3808',
  '6-3': 'Q132830',
  '7-0': 'Q16',
  '7-1': 'Q1930',
  '7-3': 'Q172',
  '8-0': 'Q148',
  '8-1': 'Q956',
  '8-3': 'Q8686',
  '9-0': 'Q1008',
  '9-1': 'Q3768',
  '9-3': 'Q1515',
  '10-0': 'Q983',
  '10-1': 'Q3818',
  '10-3': 'Q320792',
  '11-0': 'Q668',
  '11-1': 'Q987',
  '11-3': 'Q1156',
  '12-0': 'Q232',
  '12-1': 'Q1520',
  '12-3': 'Q35493',
  '13-0': 'Q347',
  '13-1': 'Q1844',
  '13-3': 'Q49657',
  '14-0': 'Q233',
  '14-1': 'Q23800',
  '14-3': 'Q39583',
  '15-0': 'Q702',
  '15-1': 'Q42751',
  '15-3': 'Q1009384',
  '16-0': 'Q1028',
  '16-1': 'Q3551',
  '16-3': 'Q7903',
  '17-0': 'Q836',
  '17-1': 'Q37400',
  '17-3': 'Q37995',
  '18-0': 'Q664',
  '18-1': 'Q23661',
  '18-3': 'Q37100',
  '19-0': 'Q1033',
  '19-1': 'Q3787',
  '19-3': 'Q8673',
  '20-0': 'Q843',
  '20-1': 'Q1362',
  '20-3': 'Q8660',
  '21-0': 'Q695',
  '21-1': 'Q515229',
  '21-3': 'Q189426',
  '22-0': 'Q928',
  '22-1': 'Q1461',
  '22-3': 'Q1475',
  '23-0': 'Q238',
  '23-1': 'Q1848',
  '23-3': 'Q185412',
  '24-0': 'Q258',
  '24-1': 'Q3926',
  '24-3': 'Q34647',
  '25-0': 'Q1049',
  '25-1': 'Q1963',
  '25-3': 'Q180921',
  '26-0': 'Q854',
  '26-1': 'Q41963',
  '26-3': 'Q35381',
  '27-0': 'Q39',
  '27-1': 'Q70',
  '27-3': 'Q72',
  '28-0': 'Q924',
  '28-1': 'Q3866',
  '28-3': 'Q1960',
  '29-0': 'Q754',
  '29-1': 'Q39178',
  '29-3': 'Q1444575',
  '30-0': 'Q43',
  '30-1': 'Q3640',
  '30-3': 'Q406',
  '31-0': 'Q878',
  '31-1': 'Q1519',
  '31-3': 'Q612',
  '32-0': 'Q30',
  '32-1': 'Q61',
  '32-3': 'Q14435',
  '33-0': 'Q881',
  '33-1': 'Q1858',
  '33-3': 'Q1854'},
 'status': 'TODO'}